
body{
    margin:0;
    font-family: sans-serif;
  
}
p{
    color:grey;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    color: gray
}

.links{
    display: flex;
    align-items: center;
    background-color: tomato;
    color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    height: 25px;
}

a {
    margin: 20px;
    text-decoration: none;
    color: white;
  }

  .section_intro{
    border-top:lightgrey 2px solid;
    border-bottom:lightgray 2px solid;
    padding-top: 20px;
    padding-bottom: 20px;
  }
 .intro{
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .section_1{
    border-bottom:lightgray 2px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
 }

  .our_services{
    margin: auto;
   
  }
  
  .our_services h6{
    background-color:tomato;
    color: white;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
  }
  

  .services_items{
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-around;
    
}
.section_2{
    border-bottom:lightgray 2px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .our_players{
    margin: auto;
    display: flex;
    justify-content:center ;
   
  }

  .our_players h6{
    background-color:tomato;
    color: white;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
  }

  .players_items{
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-around;
    
}
  .section_3{
    border-bottom:lightgray 2px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  

  .latest_work {
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .latest_work h6{
    background-color:tomato;
    color: white;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
  }

  .latest_work_images{
      padding: 10px 20px 10px 20px;
      display: flex;
      justify-content: space-around;
      
  }

  .imagen_100{
      width: 300px;
      height: 160px;
  }
 
 footer{
     background-color:lightgrey;
 }

 .footer_container{
     display: flex;
     justify-content: space-between;
     ;
 }
 .copyright{
    display: flex;
    justify-content: space-between;
    border-top: 5px solid white;
    font-size: smaller;
 }
.blog_items{
  display: flex;
}

 .blog{
   padding-top: 10px;
 }


 